.frame {
  align-items: start;
  background-color: transparent;
  display: grid;
  justify-items: center;
  width: 100vw;
}

.frame .home-wrapper {
  height: 8268px;
  width: 1440px;
}

.frame .home-instance {
  width: unset !important;
}

.frame .home-2 {
  background-color: transparent !important;
}
