.button {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  gap: 10px;
  height: 54px;
  left: -74px;
  padding: 15px 39px;
  position: relative;
  top: -28px;
}

.button .rectangle {
  background-color: var(--dark-green);
  border-radius: 100px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.button .text-wrapper {
  color: #ffffff;
  font-family: "Bricolage Grotesque", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.50px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
